.box {
	width: 50%;
	height: 50%;
	position: absolute;
	top: 25%;
	left: 25%;
	border-radius: 60px;
	background-color: aqua;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#button {
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;

	cursor: pointer;
	margin-top: 20px;
}
